*{
  box-sizing: border-box;
  margin: 0;
}
:root {
  --mainColour: #9610A2;
  --mainHover: #4e0754;
  --accent: #9D343A;
  --accentHover: #532628;
}

@font-face {
  font-family: Lato-Black;
  src: url("./fonts/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("./fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-Regular;
  src: url("./fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: RobotoSlab-ExtraBold;
  src: url("./fonts/RobotoSlab-ExtraBold.ttf");
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url("./fonts/RobotoSlab-Regular.ttf");
}

nav {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  font-size: 16px;
  font-family: Lato-Bold, sans-serif;
}

.nav-data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 65vw;
  justify-content: start;
  align-items: center;
}

.nav-links a {
  margin-left: 0.2em;
  padding: 0.3em 2em;
  text-decoration: none;
  color: var(--accent);
}

.nav-links a:hover {
  border: var(--accentHover);
  background-color: var(--accentHover);
  color: white;
  border-radius: 5px;
}

.nav-search {
  display: flex;
  width: 30vw;
  padding-right: 5em;
  justify-content: end;
}

.search-form {
  position: relative;
  width: 100%;
}

.search-button {
  position: absolute;
  outline: none;
  padding-top: 0.2em;
  border: none;
  left: -0.2em;
  background: none;
  height: auto;
}

.nav-search input {
  border: var(--accent) 2px solid;
  border-radius: 5px;
  padding-left: 2em;
  width: 100%;
  height: 2em;
}

#nav-burger-button-wrapper {
  display: none;
}

.feather-search {
  color: var(--accent);
}

#nav-burger-button {
  display: none;
}

.feather-menu {
  display: none;
}

.banner {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 100vw;
  height: 10em;
  font-family: RobotoSlab-Regular, sans-serif;
}

.banner-text {
  display: flex;
  color: white;
  background-color: var(--mainColour);
  shape-outside: polygon(0 0, 100% 0, 110% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 110% 100%, 0 100%);
  overflow: visible;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10em;
}

.banner-text #slogan{
  font-size: 2.5em;
  font-family: RobotoSlab-Extrabold, sans-serif;
}

.banner-image {
  background-image: url("./img/black-frying-pan-with-spaghetti-sauce-near-brown-wooden-691114.jpg");
  background-color: pink;
  background-position: center;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10em;
}

.description-wrapper {
  width: 100vw;
  height: auto;
  text-align: center;
}

.description {
  margin: auto;
  width: 36em;
  font-size: 20px;
  line-height: 1.4em;
  font-family: Lato-Regular, sans-serif;
}

.option-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.option-button-wrapper button {
  margin: 0 2em;
}

.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 3em 0;
}

.grid-item {
  display: flex;
  width: 40%;
  height: auto;
  border: black 2px outset;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #e2e2e2;
}

.grid-img {
  height: 200px;
  max-width: 200px;
  align-self: center;
}

.grid-item-text-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.grid-title-wrapper {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}

.grid-title {
  width: 50%;
  font-size: 21px;
  font-family: Lato-Black, sans-serif;
}

ul {
  width: 100%;
  padding-left: 1em;
  font-size: 12px;
  line-height: 1.6em;
  font-family: Lato-Regular, sans-serif;
}

.grid-menu li {
  margin-bottom: 0.4em;
}

.grid-coordinate {
  display: flex;
  width: 40%;
  font-size: 14px;
  font-family: Lato-Regular, sans-serif;
}

.coordinate-button {
  display: flex;
  outline: none;
  border: none;
  background: none;
  align-items: center;
  height: 100%;
}

#triangle {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 10em solid var(--mainColour);
  border-right: 5em solid transparent;
}

.hidden {
  display: none;
}
